@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

:root {
    --purple: #540473;
    --pink: #e704ed;
    --black: #45505b;
    --offBlack: #838a91;
    --white: #ffffff;
}

body {
    line-height: 1.2;
    color: var(--black);
}

h1 {
    font-size: 80px;
    margin-bottom: 16px;
}

h2 {
    font-size: 40px;
    color: var(--purple);
    margin-bottom: 40px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 18px;
    margin-bottom: 4px;
}

h5 {
    color: var(--purple);
    font-size: 16px;
    margin: 0 16px;
}

h6 {
    font-size: 14px;
    color: var(--white);
    margin-left: 16px;
    display: none;
}

p {
    font-size: 14px;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    height: 100vh;
    position: fixed;
    z-index: 100;
}

nav {
    position: absolute;
    list-style: none;
    top: 50%;
    transform: translate(0, -50%);
}

nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    border-radius: 50px;
    width: 64px;
    margin: 16px;
    padding: 22px;
}

nav li:hover, nav li.active {
    background-color: var(--purple);
}

nav li.expanded {
    justify-content: start;
    padding-left: 22px;
    width: 135px;
}

nav li img {
    width: 20px;
    height: 20px;
}

.menu {
    display: none;
    z-index: 99999;
}

.banner {
    background: url(../images/background.jpg);
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -50;
}

.overlay {
    background-color: var(--white);
    opacity: 0.8;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

main {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: calc(100% - 300px);
}

span.cursor {
    color: var(--purple);
    border-right: 5px solid var(--purple);
    animation: none;
}

@keyframes cursorPiscando {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: var(--purple);
    }
}

.social {
    margin: 40px 0;
}

.social img {
    width: 30px;
    margin-right: 24px;
}

.social img.facebook:hover {
    content: url(../icons/facebook-hover.png);
}

.social img.instagram:hover {
    content: url(../icons/instagram-hover.png);
}

.social img.linkedin:hover {
    content: url(../icons/linkedin-hover.png);
}

.social img.github:hover {
    content: url(../icons/github-hover.png);
}

.social img.whatsapp:hover {
    content: url(../icons/whatsapp-hover.png);
}

section#about {
    margin-left: 200px;
    height: 100vh;
    width: calc(100% - 350px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.me {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
}

.intro {
    width: 60%;
    text-align: justify;
}

.profile {
    position: absolute;
    right: 0;
    border-radius: 50%;
    width: 275px;
    height: 275px;
    background: url(../images/profile.jpg);
    background-size: cover;
    background-position: top 25% center;
    
}

.details {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.information {
    width: 40%;
}

.information .item {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.information .item h5 {
    width: 90px;
}

.information .item.end h5 {
    width: 50px;
}

.information .item img {
    width: 30px;
}

.information button {
    padding: 16px 32px;
    border: 1px solid var(--purple);
    background-color: var(--purple);
    border-radius: 5px;
    color: var(--white);
    margin-right: 24px;
}

.information button a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

.information button img {
    width: 20px;
    margin-left: 16px;
}

.computerLanguages {
    width: 60%;
    margin-right: -20px;
    display: flex;
    flex-flow: row wrap;
}

.computerLanguages .language {
    border: 3px solid var(--purple);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc((25% - 20px));
    margin: 0 20px 20px 0;
    padding: 16px 24px;
}

.computerLanguages .language img {
    width: 50px;
    margin-bottom: 16px;
}

section#myPortfolio {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: calc(100% - 350px);
}

.title {
    position: relative;
}

#pagination {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
}

#prevPage, #nextPage {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple);
    color: var(--white);
    border-radius: 50%;
    margin-left: 8px;
    border: none;
}

#pages button {
    width: 40px;
    height: 40px;
    background-color: var(--offBlack);
    color: var(--white);
    border-radius: 50%;
    margin-left: 8px;
    border: none;
}

button.disabled {
    opacity: 0.1;
    cursor: not-allowed;
}

#pages button.current-page {
    background-color: var(--pink);
}

.portfolio {
    display: flex;
    flex-flow: row wrap;
    margin-right: -30px;
}

.portfolio .item {
    box-shadow: 0px 0px 300px 0px rgba(0,0,0,0.1);
    background-color: var(--white);
    border-radius: 10px;
    width: calc(33% - 20px);
    height: auto;
    margin: 0 20px 20px 0;
}

.portfolio .item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px 10px 0 0;
    z-index: 1;
}

.portfolio .item .description {
    display: flex;
    justify-content: space-between;
    margin: 16px;
    position: relative;
}

.portfolio span {
    font-size: 12px;
}

.portfolio .type {
    color: var(--pink);
}

.portfolio .item button {
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

.portfolio .item .cta button img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: none;
}

section#contact {
    margin-left: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75vh;
    width: calc(100% - 300px);
}

.formulario {
    width: 60%;
    padding: 24px;
    height: 450px;
    border-radius: 10px 0 0 10px;
    position: relative;
    box-shadow: 0px 0px 300px 0px rgba(0,0,0,0.1);
}

.formulario img {
    display: flex;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    height: 50px;
}

.formulario form {
    width: calc(100% + 20px);
    display: flex;
    flex-flow: row wrap;
}

.formulario form .inputContent {
    width: calc(50% - 20px);
    margin: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
}

.formulario form .inputContent.end {
    width: 100%;
    position: relative;
}

.formulario form label {
    font-size: 12px;
    color: var(--offBlack);
}

.formulario form input, .formulario form textarea {
    border: none;
    background: none;
    border-bottom: 1px solid var(--offBlack);
    padding: 16px 0 16px 0;
    font-size: 14px;
    resize: none;
}

.formulario form input::placeholder, .formulario form textarea::placeholder {
    color: var(--black)
}

.formulario form button {
    right: -25px;
    bottom: 50px;
    position: absolute;
    border: none;
    background: none;
}

.formulario form button img {
    width: 50px;
    height: 50px;
}

.other {
    width: 40%;
    height: 450px;
    border-radius: 0 10px 10px 0;
    background-color: var(--purple);
    padding: 24px 32px;
    color: white;
}

.other .information {
    width: 100%;
}

.other h2, .other h5, footer h2 {
    color: white;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px 25% 15px 25%;
    height: 25vh;
    background-color: var(--purple);
    color: white;
}

section#project {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: calc(100% - 300px);
}

.projectDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.slider {
    width: 50%;
}

.projectDetails .slider img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.projectDetails .projectInformation {
    box-shadow: 0px 0px 300px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
    background-color: var(--white);
    padding: 24px;
    height: 75%;
    width: 50%;
    text-align: justify;
}

.projectDetails .projectInformation .cta {
    margin-top: 48px;
}

.projectDetails .projectInformation .cta button {
    padding: 16px 32px;
    border: 1px solid var(--purple);
    background-color: var(--purple);
    border-radius: 5px;
    color: var(--white);
    margin-right: 16px;
    font-size: 10px;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 56px;
    }

    h5 {
        font-size: 14px;
    }

    h6 {
        display: flex;
    }

    header {
        background-color: var(--white);
        border-right: 1px solid var(--offBlack);
        width: 250px;
        display: flex;
        left: -250px;
        transition: left 0.3s ease;
    }

    nav li {
        background-color: var(--offBlack);
        justify-content: start;
        width: 200px;
    }

    nav li.expanded {
        width: 200px;
        background-color: var(--purple);
    }

    .menu {
        position: fixed;
        width: 40px;
        display: block;
        right: 24px;
        top: 24px;
    }

    .menu img {
        width: 40px;
    }

    .banner {
        background-size: cover;
    }

    main {
        margin: 0;
        align-items: center;
        width: 100vw;
    }

    .social img {
        margin: 0 16px;
    }

    section#about {
        margin: auto auto;
        width: 80vw;
    }
    
    .intro {
        width: 50%;
    }
    
    .information {
        width: 50%;
    }

    .information .item h5 {
        width: 80px;
    }
    
    .information .item img {
        width: 25px;
    }
    
    .computerLanguages {
        width: 50%;
        display: flex;
        flex-flow: row wrap;
    }
    
    .computerLanguages .language {
        border: 2px solid var(--purple);
        width: calc((25% - 10px));
        margin: 0 10px 10px 0;
        padding: 0;
    }

    .computerLanguages .language h5 {
        font-size: 10px;
    }
    
    .computerLanguages .language img {
        width: 25px;
    }

    section#myPortfolio {
        margin: auto auto;
        width: 80vw;
    }

    .portfolio {
        margin-right: -20px;
    }

    .portfolio .item {
        width: calc(50% - 20px);
        margin: 0 20px 20px 0;
    }

    .portfolio .item img {
        height: 250px;
    }

    section#contact {
        margin: auto auto;
        height: 85vh;
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .formulario {
        width: 100%;
        padding: 24px;
        height: 475px;
        border-radius: 10px 10px 0 0;
    }

    .other {
        width: 100%;
        height: 300px;
        border-radius: 0 0 10px 10px;
    }

    .other .information h5 {
        color: white;
    }

    .other .information .social img {
        margin: 0 16px 0 0;
    }

    footer {
        padding: 50px 20% 5px 20%;
        height: 15vh;
    }

    section#project {
        margin: auto auto;
        width: 80vw;
    }

    .projectDetails {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projectDetails .slider {
        width: 80%;
        margin-bottom: 32px;
    }

    .projectDetails .projectInformation {
        width: 100%;
        height: 50%;
        padding: 32px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 24px;
        margin-bottom: 24px;
    }
    
    h3 {
        font-size: 24px;
    }
    
    h4 {
        font-size: 14px;
        margin-bottom: 4px;
    }
    
    h5 {
        font-size: 12px;
        margin: 0 8px;
    }
    
    h6 {
        font-size: 12px;
    }
    
    p {
        font-size: 10px;
    }
    
    header {
        background-color: var(--white);
        border-right: 1px solid var(--offBlack);
        width: 155px;
        display: flex;
        left: -155px;
        transition: left 0.3s ease;
    }
    
    nav li {
        background-color: var(--offBlack);
        justify-content: start;
        width: 120px;
    }
    
    nav li.expanded {
        width: 120px;
        background-color: var(--purple);
    }

    nav li img {
        width: 16px;
        height: 16px;
    }
    
    .menu {
        position: fixed;
        width: 40px;
        display: block;
        right: 24px;
        top: 24px;
    }
    
    .menu img {
        width: 40px;
    }
    
    .banner {
        background-size: cover;
    }
    
    main {
        margin: 0;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }
    
    .social img {
        width: 24px;
        margin: 0 8px;
    }

    section#about {
        margin: auto auto;
        width: 90vw;
        height: 100vh;
    }

    .me {
        flex-direction: column;
    }
        
    .intro {
        width: 100%;
    }

    .profile {
        position: absolute;
        bottom: -140px;
        width: 120px;
        height: 120px;
    }

    .details {
        flex-direction: column;
    }
        
    .information {
        width: 70%;
    }

    .information .item {
        margin-bottom: 8px;
    }
    
    .information .item h5 {
        width: 70px;
    }
        
    .information .item img {
        width: 16px;
    }

    .information button {
        padding: 8px 16px;
        margin-bottom: 16px;
    }

    .information button a {
        font-size: 10px;
    }
    
    .information button img {
        width: 16px;
        margin-left: 8px;
    }
        
    .computerLanguages {
        width: 100%;
    }
        
    .computerLanguages .language {
        border: 2px solid var(--purple);
        width: calc((25% - 10px));
        margin: 0 10px 10px 0;
        padding: 8px;
    }
    
    .computerLanguages .language h5 {
        font-size: 10px;
    }
        
    .computerLanguages .language img {
        width: 25px;
        margin-bottom: 8px;
    }

    section#myPortfolio {
        margin: auto auto;
        width: 90vw;
        height: 100vh;
    }

    #pagination {
        height: auto;
    }

    #prevPage, #nextPage {
        width: 25px;
        height: 25px;
    }

    #pages button {
        width: 25px;
        height: 25px;
        font-size: 10px;
        font-weight: 600;
    }

    .portfolio {
        flex-flow: column wrap;
        margin-right: -20px;
    }

    .portfolio .item {
        width: 90vw;
        margin: 0 0 5px 0;
    }

    .portfolio .item img {
        width: 100%;
        height: 150px;
        object-fit: fill;
    }
    section#contact {
        margin: auto auto;
        height: 100vh;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .formulario {
        width: 100%;
        padding: 24px;
        height: auto;
        border-radius: 10px 10px 0 0;
    }

    .formulario img {
        height: 25px;
    }
    
    .formulario form {
        width: 100%;
    }
    
    .formulario form input, .formulario form textarea {
        border-radius: 0;
        font-size: 10px;
    }

    .formulario form textarea {
        height: 80px;
    }
    
    .formulario form button {
        bottom: 40px;
    }
    
    .formulario form button img {
        width: 25px;
        height: 25px;
    }
    
    .other {
        width: 100%;
        height: 175px;
        border-radius: 0 0 10px 10px;
    }

    .other .information {
        width: 100%;
    }

    .other .information .social {
        margin: 16px 0;
    }
    
    .other .information .social img {
        width: 16px;
        margin: 0 16px 0 0;
    }
    
    footer {
        padding: 25px 5% 10px 5%;
        height: auto;
    }

    footer h2 {
        font-size: 16px;
        margin-bottom: 8px;
    }

    section#project {
        margin: auto auto;
        width: 90vw;
        height: 100vh;
    }
    
    .projectDetails {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .projectDetails .slider {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 16px;
    }

    .projectDetails .slider img {
        width: 90%;
    }
    
    .projectDetails .projectInformation {
        width: 100%;
        height: auto;
        padding: 16px;
    }

    .projectDetails .projectInformation .cta {
        margin-top: 24px;
    }

    .projectDetails .projectInformation .cta button {
        padding: 16px 24px;
        margin-right: 8px;
    }
}