@import 'tailwindcss';

@font-face {
  font-family: 'Asap';
  src: url('/fonts/asap.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata';
  src: url('/fonts/inconsolata.ttf') format('truetype');
}

@font-face {
  font-family: 'Maven';
  src: url('/fonts/maven.ttf') format('truetype');
}

@theme {
  --color-snk-red: oklch(66.01% 0.1591 22.88);
  --color-snk-purple: oklch(67.86% 0.1816 310.76);
  --color-snk-blue: oklch(61.35% 0.1499 253.11);
  --color-snk-green: oklch(73.19% 0.1535 132.52);
  --color-snk-yellow: oklch(82% 0.1234 83.81);
  --color-snk-gray-100: oklch(16.4% 0.0065 271);
  --color-snk-gray-200: oklch(20.91% 0.0104 268.19);
  --color-snk-gray-300: oklch(29.35% 0.0152 269.16);
  --color-snk-gray-400: oklch(64.74% 0.0295 269.5);
  --color-snk-gray-500: oklch(82.02% 0.0146 268.47);
  --color-snk-gray-600: oklch(91.88% 0.0071 268.54);

  --font-asap: 'Asap', sans-serif;
  --font-inconsolata: 'Inconsolata', monospace;
  --font-maven: 'Maven', sans-serif;
}

body {
  @apply bg-snk-gray-200
}

#root {
  @apply flex flex-col items-center text-snk-gray-600
}

.title-lg {
  @apply text-[3.5rem] leading-[1.2] font-sans;
  font-family: var(--font-asap);
}

.title-md {
  @apply text-[1.5rem] leading-[1.2] font-sans;
  font-family: var(--font-asap);
}

.title-sm {
  @apply text-[1rem] leading-[1.2] font-sans;
  font-family: var(--font-asap);
}

.subtitle {
  @apply text-[1.25rem] leading-[1.2] font-mono;
  font-family: var(--font-inconsolata);
}

.maven-md {
  @apply text-[1rem] leading-[1.4] font-serif;
  font-family: var(--font-maven);
}

.maven-sm {
  @apply text-[0.875rem] leading-[1.4] font-serif;
  font-family: var(--font-maven);
}